%text-link {
    font-family: 'Montserrat';
font-weight: 400;
font-size: 16px;
line-height: 1.25;
color: #000000;
}

%logo-text {
    font-family: 'Aclonica';
font-weight: 400; 
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.04em;
color: #000000;  
}

%big-title {
    font-family: 'ZCOOL XiaoWei';
font-style: normal;
font-weight: 400;
font-size: 55px;
line-height: 1.18;
letter-spacing: 0.04em;
color: #232020;

}

%description-text {
font-weight: 400;
font-size: 16px;
line-height: 1.62;
letter-spacing: 0.04em;
color: #404040;
}

%sextion-title {
    font-family: 'ZCOOL XiaoWei';
font-weight: 400;
font-size: 55px;
line-height: 1.18;
letter-spacing: 0.04em;
color: #000000;
}